@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import url('bootstrap3.css');
@keyframes loadInAnimation {
  0% {
    opacity: 0 !important;
  }
  100% {
    opacity: 100 !important;
  }
}

:root {
     --inputbg: #3c096c !important; 
    --inputborder: #5a189a !important;
    --uibg: #240046 !important;
    --textcolor: #fff !important;
    --bg: #10002b !important;
}
.suggest {
    fill: white;
}
.hiddenUpload {
  display:none !important;
  visibility: hidden !important;
}
* {
  transition-duration: 0.5s !important;
  outline: none !important;
  border: none !important;
  box-sizing: border-box !important;
  align-content: center !important;
  text-align: center !important;
  font-family: 'Prompt', sans-serif !important;
  color: var(--textcolor) !important;
}
.modal-content {
background:var(--uibg)!important;
}
#myModal {
color:white!important;
}
.modal-footer {
border:0!important;
}
.modal-header {
border:0!important;
}
body {
  margin: 0 !important;
  padding: 0 !important;
  background: var(--bg) !important;
  color: var(--textcolor) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}
header,
footer {
  background-color: var(--uibg) !important;
  display: flex !important;
  padding: 0.7rem !important;
  width: 100% !important;
  z-index: 1 !important;
  justify-content: center !important;
}
header {
  top: 0 !important;
  border-radius: 0 0 20px 20px !important;
  position: fixed !important;
  box-shadow: 0 5px 10px var(--uibg) !important;
}
footer.noscroll {
  position: fixed !important;
  overflow: hidden !important;
}
footer {
  bottom: 0 !important;
  border-radius: 20px 20px 0 0 !important;
  box-shadow: 0 -5px 10px var(--uibg) !important;
}
footer a,
footer a:visited,
header a,
header a:visited {
  text-align: center !important;
  font-weight: 700 !important;
  text-decoration: none !important;
  margin-right: 2rem !important;
  margin-left: 1rem !important;
}

footer a:hover,
header a:hover {
  text-shadow: 2px 2px 6px var(--textcolor) !important;
}
main {
  animation: 1.25s ease-in-out 0s 1 loadInAnimation !important;
  align-items: center !important;
  flex-direction: column !important;
  display: flex !important;
  min-height: calc(100vh - (2 * 0.7rem)) !important;
  gap: 0 !important;
  flex-wrap: wrap !important;
  margin: auto !important;
  margin-top: 4rem !important;
  width: 90% !important;
}
main#main.noscroll {
  justify-content: center !important;
}
h1,
h2,
h3,
p,
a,
label {
  margin: 0 !important;
  padding: 0 !important;
  text-shadow: var(--shadow) !important;
}
.samerow {
  display: flex !important;
  justify-content: center !important;
  gap: 0 !important;
  flex-wrap: wrap !important;
}
h1 {
  font-size: 60px !important;
}

h2 {
  font-size: 40px !important;
}
h3 {
  font-size: 20px !important;
}
p, a {
  font-size: 16px !important;
}

button, input#websubmit.submit, input[type=submit] {
  cursor: pointer !important;
  background-color: var(--inputbg) !important;
  border-color: var(--inputborder) !important;
  border-width: 3px !important;
  border-radius: 10px !important;
  border-style: solid !important;
  padding: 7px !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
  margin: 10px !important;
}

button:hover, input#websubmit.submit:hover, input[type=submit]:hover {
  filter: brightness(80%) !important;
  transform: scale(1.07) !important;
}

img {
  width: 100% !important;
  aspect-ratio: auto !important;
  user-select: none !important;
  filter: drop-shadow(var(--shadow)) !important;
  image-rendering: pixelated !important;
}

.img-container a {
  width: 100% !important;
}

.img-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row !important;
  gap: 0 !important;
  flex-wrap: wrap !important;
  width: 6% !important;
  aspect-ratio: 1 / 1 !important;
  margin: 2% !important;
}

.game, .suggest {
  width: 15% !important;
  border-radius: 20px !important;
  display: inline-block;
  background-color: var(--uibg) !important;
  margin: 15px !important;
  cursor: pointer !important;
  box-shadow: 0px 0px 5px 5px var(--uibg) !important;
}

.game:hover, .suggest:hover {
  transform: scale(1.1) !important;
  filter: brightness(85%) !important;
  box-shadow: 0px 0px 5px 5px var(--uibg) !important;
}

.game h1, .suggest h1 {
  font-size: 12px !important;
  float: right !important;
  margin-right: 10px !important;
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

.game img, .suggest img {
  width: 100% !important;
  border-radius: 20px !important;
  aspect-ratio: 1 / 1 !important;
}

img.star {
  float: left !important;
  width: 10% !important;
  margin-top: 3px !important;
  margin-bottom: 3px !important;
  margin-left: 10px !important;
}

#noscroll {
  overflow-y: hidden !important;
  justify-content: center !important;
}

#games,
#pinned {
  width: 100% !important;
  justify-content: center !important;
}

a {
  font-size: 16px !important;
}

input[type="text"] {
  width: 50% !important;
  background-color: var(--inputbg) !important;
  box-sizing: border-box !important;
  font-size: 20px !important;
  padding: 0.8% 0.8% !important;
  text-align: center !important;
  border-radius: 5px !important;
  outline: none !important;
  margin: 10px !important;
  border: 2px solid var(--inputborder) !important;
  border-radius: 5px !important;
  transition: opacity 0.25s ease-in-out !important;
  opacity: 100% !important;
}
input[type=text]:hover {
  opacity: 80% !important;
}
::placeholder {
  color: var(--textcolor) !important;
  opacity: 0.4 !important; /* Firefox */
}

.bookmarkletdiv {
  width: 30% !important;
  background-color: var(--uibg) !important;
  box-shadow: 0px 0px 5px 5px var(--uibg) !important;
  padding: 5px !important;
  margin: 15px !important;
  border-radius: 10px !important;
  display: inline-block !important;
}

.bookmarkletdiv a {
  font-size: 30px !important;
}

form {
  width: 100% !important;
}
.samerow.themebtns {
  width: 70% !important;
}

select {
  border-radius: 5px !important;
  background-color: var(--inputbg) !important;
  border-color: var(--inputborder) !important;
  border-width: 5px !important;
  border-radius: 10px !important;
  border-style: solid !important;
  padding: 0.5% 0.5% !important;
  margin: 0.25% !important;
}

gameframe {
  width: 100vw !important;
  height: 90vh !important;
}
gameframe iframe {
  width: 100% !important;
  height: 100% !important;
}

gameframe.header {
  display: flex !important;
  justify-content: space-between !important;
}

sl-icon-button {
  font-size: 2rem !important;
  padding-right: 5px !important;
}

h3#gametitle {
  font-size: 2rem !important;
}thumb.png

.img-credits {
  height: 40vh !important;
  width: auto !important;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.555) !important;
}

label {
  font-size: 20px !important;
  padding-left: 5px !important;
}
.avatar {
  margin: 5px !important;
}
#bgimg {
  width: 30vw !important;
  font-size: 16px !important;
}